:{$PORT} {
    handle /caddyhealth {
      respond "OK" 200
    }

    handle / {
      respond "OK" 200
    }

    handle {
        basicauth {
            {$GATEWAY_USER} {$GATEWAY_PASSWORD_HASH}
        }

        @route path_regexp route ^/([^/]+)(/.*)?$

        handle @route {
            rewrite * {re.route.2}
            reverse_proxy {re.route.1}:{$DOWNSTREAM_PORT}
        }
    }
}
